<article class="media content-section">
    <img class="rounded-circle article-img" src="default.jpg" alt="" />
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="/blogs/user/1">jcbcouch</a>
            <small class="text-muted">2025-01-20 23:37:03</small>
        </div>
        <h2><a class="article-title" href="/blogs/8">8</a></h2>
        <p class="article-content">
            this is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the content
        </p>
    </div>
</article>

<article class="media content-section">
    <img class="rounded-circle article-img" src="default.jpg" alt="" />
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="/blogs/user/1">jcbcouch</a>
            <small class="text-muted">2025-01-20 23:37:03</small>
        </div>
        <h2><a class="article-title" href="/blogs/8">8</a></h2>
        <p class="article-content">
            this is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the contentthis is the content
        </p>
    </div>
</article>